<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atencion emergencias AP</title>
    <style>
        .enlace1{
        display: inline-block;
        color: beige;
        text-decoration: none;
        background-color: rgb(79, 101, 121);
        padding: 15px;
        margin: 25 px 0 px;
        }
        </style> 
</head>
<body>
    <a class="enlace1" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ⭠ INICIO    
     </a> 

    <h1>
        <p align="center">TRABAJAMOS POR USTED </p>
    </h1>

    <h1 style= "color:goldenrod" >
           
        <p align="center">SISTEMA DE GESTIÓN DE FALLAS AP </p>

    </h1>
        

aca es para hacer reportes nuevos

</body>
</html>